# Ignorar todos los archivos .env en cualquier carpeta
*.env
*.local
*.env.local

# Ignorar el archivo de secretos del ESP32
secrets.h

# Ignorar la carpeta de compilación (build) del ESP32
sketch_esp32_lete/build/

# Archivos comunes de Python (opcional pero recomendado)
__pycache__/
*.pyc

# Ignorar dependencias de Node
node_modules/

# Archivos de build y salida
dist/
build/
.next/
public/ # (A veces 'public' SÍ se sube, depende del framework)

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno
.env*
!.env.example # (Es bueno subir un ejemplo de .env)

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos del editor
.vscode/
.idea/

# Ignorar la carpeta del Entorno Virtual de Python
venv/
nginx/